$color-api: (
  base: (
    blue-athens: blue-athens,
    blue-cerulean: blue-cerulean,
    blue-mariner: blue-mariner,
    blue-matisse: blue-matisse,
    blue-rhino: blue-rhino,
    blue-rinse: blue-rinse,
    blue-zodiac: blue-zodiac,
    purple-cadet: purple-cadet,
    purple-comet: purple-comet,
    purple-ghost: purple-ghost,
    purple-gigas: purple-gigas,
    purple-kimberly: purple-kimberly,
    purple-manatee: purple-manatee,
    purple-martinique: purple-martinique,
    purple-mirage: purple-mirage,
    purple-mischka: purple-mischka,
    purple-mulledwine: purple-mulledwine,
    purple-pebble: purple-pebble,
    purple-tuna: purple-tuna,
    pink-cerise: pink-cerise,
    pink-frenchrose: pink-frenchrose,
    red-cinnabar: red-cinnabar,
    red-cinderella: red-cinderella,
    red-claret: red-claret,
    red-thunderbird: red-thunderbird,
    red-valencia: red-valencia,
    orange-carrot: orange-carrot,
    yellow-brightsun: yellow-brightsun,
    yellow-energy: yellow-energy,
    green-aquamarine: green-aquamarine,
    green-carribean: green-carribean,
    green-genoa: green-genoa,
    green-jungle: green-jungle,
    green-lotus: green-lotus,
    green-oyster: green-oyster,
    green-robinsegg: green-robinsegg,
    green-tiber: green-tiber,
    green-tiffany: green-tiffany,
    gray-chateau: gray-chateau,
    gray-geyser: gray-geyser,
    gray-mako: gray-mako,
    gray-nevada: gray-nevada,
    gray-oslo: gray-oslo,
    gray-shuttle: gray-shuttle,
    gray-silversand: gray-silversand,
    white: white,
    white-linkwater: white-linkwater,
    text-main: purple-martinique,
    text-secondary: purple-comet,
    border: white-linkwater,
    body-background: blue-athens,
    active-border: blue-mariner,
    accordion-hover: purple-ghost,
    accordion-border: purple-comet,
    badge-background: purple-comet,
    badge-border: purple-martinique,
    badge-color: purple-martinique,
    button-color: blue-mariner,
    button-hover-color: blue-matisse,
    button-active-color: blue-zodiac,
    button-focus-border: purple-kimberly,
    button-primary-background: blue-mariner,
    button-primary-color: white,
    button-primary-hover-background: blue-matisse,
    button-primary-active-background: blue-zodiac,
    button-secondary-border: blue-mariner,
    button-secondary-hover-border: blue-matisse,
    button-secondary-active-border: blue-zodiac,
    button-icon-color: purple-comet,
    button-icon-hover-background: purple-mischka,
    button-icon-hover-color: purple-martinique,
    button-icon-hover-active: purple-ghost,
    button-toolbar-border: white-linkwater,
    button-toolbar-color: purple-comet,
    button-toolbar-hover-background: purple-mischka,
    button-toolbar-hover-color: purple-martinique,
    button-toolbar-hover-active: purple-ghost,
    button-toolbar-pressed-background: blue-mariner,
    card-background: white,
    card-overdue: red-valencia,
    card-in-progress: green-robinsegg,
    checkbox: purple-comet,
    checkbox-active: purple-mulledwine,
    checkbox-checked: blue-mariner,
    checkbox-checked-active: blue-matisse,
    checkbox-focus-border: purple-comet,
    checkbox-error: red-valencia,
    combobox-border: purple-kimberly,
    combobox-placeholder-color: purple-comet,
    combobox-results-background: white,
    combobox-results-border: white-linkwater,
    combobox-result-hover-background: purple-mischka,
    combobox-result-hover-color: purple-martinique,
    combobox-result-focus-border: purple-comet,
    combobox-result-active-background: purple-ghost,
    combobox-selected-result-background: purple-ghost,
    combobox-selected-result-hover-background: purple-pebble,
    dropdown-border: white-linkwater,
    dropdown-background: white,
    dropdown-item-hover-background: purple-mischka,
    dropdown-item-hover-color: purple-martinique,
    dropdown-item-active-background: purple-ghost,
    dropdown-item-focus-border: purple-comet,
    dropdown-selected-item-background: purple-ghost,
    dropdown-selected-item-hover-background: purple-pebble,
    dropdown-expanded-trigger-background: purple-mischka,
    form-background: white,
    input-border: purple-kimberly,
    input-error-color: red-valencia,
    input-error-border: red-valencia,
    input-focus-border: purple-comet,
    input-placeholder-color: purple-comet,
    link: blue-mariner,
    link-hover: blue-matisse,
    link-active: blue-zodiac,
    link-focus: purple-kimberly,
    modal-background: purple-martinique,
    modal-header-color: purple-martinique,
    radio-border: purple-comet,
    radio-active-border: purple-mulledwine,
    radio-checked-border: blue-mariner,
    radio-error-background: red-valencia,
    radio-error-border: red-valencia,
    radio-error-color: red-valencia,
    radio-focus-border: purple-comet,
    selectable-list-hover-background: purple-mischka,
    selectable-list-checked-background: purple-ghost,
    selectable-list-focus-border: purple-comet,
    select-border: purple-martinique,
    select-handle-color: purple-martinique,
    step-indicator-line: white-linkwater,
    step-indicator-active: green-aquamarine,
    switch-background: purple-cadet,
    switch-hover-background: purple-manatee,
    switch-focus-border: purple-kimberly,
    switch-disabled-background: purple-pebble,
    switch-checked-background: green-robinsegg,
    switch-checked-hover-background: green-genoa,
    tabs-selected: purple-martinique,
    tabs-focus: purple-martinique,
    tabs-active: purple-tuna,
    tabs-keyline: purple-cadet,
    tabs-keyline-hover: blue-matisse,
    tabs-keyline-focus: blue-matisse,
    tabs-keyline-active: blue-zodiac,
    tabs-keyline-selected: blue-mariner,
    table-row-new: purple-comet,
    table-row-expanded-border: purple-comet,
    table-cell-emphasis: purple-mischka,
    table-cell-dirty: purple-comet,
    text-selection: blue-matisse,
    table-hover-background: white-linkwater,
    table-selected-background: white-linkwater,
    table-toggle-color: white-linkwater,
    tablesummary-background: gray-geyser,
    toaster-warning: yellow-brightsun,
    toaster-alert: red-valencia,
    toaster-success: green-robinsegg,
    toaster-info: blue-mariner,
    tooltip-background: purple-comet,
  ),
  dark: (
    background: purple-martinique,
    body-background: purple-martinique,
    text-main: white,
    text-secondary: purple-cadet,
    accordion-focus: purple-mulledwine,
    accordion-border: purple-comet,
    accordion-active: purple-comet,
    accordion-hover: purple-tuna,
    badge-background: green-robinsegg,
    badge-border: green-robinsegg,
    badge-color: purple-martinique,
    button-color: white,
    button-hover-color: purple-ghost,
    button-active-color: purple-cadet,
    button-focus-border: blue-athens,
    button-primary-background: blue-mariner,
    button-primary-color: white,
    button-primary-hover-background: blue-rinse,
    button-primary-active-background: blue-matisse,
    button-secondary-border: gray-nevada,
    button-secondary-hover-border: gray-oslo,
    button-secondary-active-border: gray-chateau,
    button-icon-color: white,
    button-icon-hover-background: purple-comet,
    button-icon-active-background: purple-kimberly,
    button-toolbar-border: purple-cadet,
    checkbox: purple-cadet,
    checkbox-active: purple-ghost,
    checkbox-checked: green-jungle,
    checkbox-checked-active: green-aquamarine,
    checkbox-focus-border: purple-ghost,
    checkbox-error: red-cinderella,
    combobox-border: purple-cadet,
    combobox-placeholder-color: purple-ghost,
    input-border: purple-cadet,
    input-error-color: red-cinderella,
    input-error-border: red-cinderella,
    input-focus-border: purple-ghost,
    input-placeholder-color: purple-ghost,
    modal-content-background: purple-martinique,
    modal-footer-background: blue-rhino,
    modal-header-background: blue-mariner,
    radio-border: purple-cadet,
    radio-active-border: purple-ghost,
    radio-checked-border: green-jungle,
    radio-error-background: red-cinderella,
    radio-error-border: red-cinderella,
    radio-error-color: red-cinderella,
    radio-focus-border: purple-ghost,
    selectable-list-hover-background: purple-tuna,
    selectable-list-checked-background: purple-mulledwine,
    selectable-list-focus-border: purple-ghost,
    select-border: purple-cadet,
    select-handle-color: white,
    switch-background: purple-mirage,
    switch-border: purple-kimberly,
    switch-hover-background: purple-tuna,
    switch-focus-border: purple-ghost,
    switch-disabled-background: purple-cadet,
    switch-checked-background: green-jungle,
    switch-checked-border: green-aquamarine,
    switch-checked-hover-background: green-aquamarine,
    switch-checked-active-background: green-oyster,
    tabs-active: purple-ghost,
    tabs-focus: white,
    tabs-selected: white,
    tabs-keyline: purple-kimberly,
    tabs-keyline-active: green-oyster,
    tabs-keyline-focus: green-aquamarine,
    tabs-keyline-hover: green-aquamarine,
    tabs-keyline-selected: green-jungle,
  ),
);
