$palette: (
  blue-mariner: #2f75d8,
  blue-athens: #f8f8fa,
  blue-cerulean: #00a8ec,
  blue-rinse: #215eb2,
  blue-zodiac: #11315d,
  blue-matisse: #1d529d,
  blue-rhino: #2b3755,
  purple-comet: #575778,
  purple-martinique: #2c2c48,
  purple-kimberly: #6d6d95,
  purple-manatee: #8a8aab,
  purple-ghost: #e3e3eb,
  purple-mischka: #f2f2f7,
  purple-mulledwine: #42425a,
  purple-cadet: #a8a8c0,
  purple-mirage: #191928,
  purple-tuna: #222238,
  purple-gigas: #413ea7,
  purple-pebble: #c6c6d5,
  pink-cerise: #d32c8a,
  pink-frenchrose: #eb4a62,
  red-valencia: #d73e3e,
  red-claret: #671515,
  red-cinnabar: #a62222,
  red-cinderella: #eb7a7a,
  red-thunderbird: #b31c1c,
  orange-carrot: #ffa437,
  yellow-energy: #f7e64f,
  yellow-brightsun: #fbb022,
  green-robinsegg: #14a687,
  green-genoa: #0f7862,
  green-tiber: #094b3d,
  green-aquamarine: #7ffff1,
  green-lotus: #009888,
  green-jungle: #00ccb5,
  green-oyster: #b2fff7,
  green-tiffany: #2bbdcb,
  green-carribean: #00c8b2,
  gray-nevada: #656f7a,
  gray-mako: #424950,
  gray-oslo: #7e8894,
  gray-chateau: #9aa2ab,
  gray-geyser: #d2d5d9,
  gray-silversand: #b6bcc2,
  gray-shuttle: #546775,
  white: #ffffff,
  white-linkwater: #e6eaf8,
);
