@mixin typography-next($name: scale, $modifier: banana, $theme: base) {
  $result-map: null;
  $typography-scale: (
    1: 0.75rem,
    2: 0.8125rem,
    3: 0.875rem,
    4: 1rem,
    5: 1.125rem,
    6: 1.5rem,
    7: 2.0625rem,
    8: 2.75rem,
  );

  $typography-options: (
    scale: (
      watermelon: (
        font-size: map-get($typography-scale, 8),
        font-weight: 400,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      pineapple: (
        font-size: map-get($typography-scale, 7),
        font-weight: 500,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      grapefruit: (
        font-size: map-get($typography-scale, 6),
        font-weight: 500,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      mango: (
        font-size: map-get($typography-scale, 5),
        font-weight: 600,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      banana: (
        font-size: map-get($typography-scale, 5),
        font-weight: 500,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      orange: (
        font-size: map-get($typography-scale, 5),
        font-weight: 400,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      apple: (
        font-size: map-get($typography-scale, 4),
        font-weight: 500,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      peach: (
        font-size: map-get($typography-scale, 4),
        font-weight: 400,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      pear: (
        font-size: map-get($typography-scale, 3),
        font-weight: 500,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      kiwi: (
        font-size: map-get($typography-scale, 3),
        font-weight: 400,
        line-height: 1.2,
        color: get-color(text-main, $theme: $theme),
      ),
      strawberry: (
        font-size: map-get($typography-scale, 3),
        font-weight: 400,
        line-height: 1.2,
        color: get-color(text-secondary, $theme: $theme),
      ),
      blackberry: (
        font-size: map-get($typography-scale, 2),
        font-weight: 500,
        color: get-color(text-main, $theme: $theme),
      ),
      raspberry: (
        font-size: map-get($typography-scale, 2),
        font-weight: 400,
        color: get-color(text-main, $theme: $theme),
      ),
      cranberry: (
        font-size: map-get($typography-scale, 2),
        font-weight: 400,
        color: get-color(text-secondary, $theme: $theme),
      ),
      blueberry: (
        font-size: map-get($typography-scale, 1),
        font-weight: 500,
        text-transform: uppercase,
        color: get-color(text-secondary, $theme: $theme),
      ),
    ),
    table: (
      header: (
        font-size: map-get($typography-scale, 2),
        font-weight: 500,
        color: get-color(text-main, $theme: $theme),
      ),
      cell: (
        font-size: map-get($typography-scale, 2),
        font-weight: 400,
        font-feature-settings: 'tnum' on,
        font-variant: tabular-nums,
        color: get-color(text-secondary, $theme: $theme),
      ),
      foot: (
        font-size: map-get($typography-scale, 2),
        font-weight: 600,
        font-feature-settings: 'tnum' on,
        font-variant: tabular-nums,
        color: get-color(text-main, $theme: $theme),
      ),
    ),
  );

  @if map-has-key($typography-options, $name) {
    $rule: map-get($typography-options, $name);

    @if map-has-key($rule, $modifier) {
      $result-map: map-get($rule, $modifier);
    }
  }

  @if $result-map {
    @each $prop, $val in $result-map {
      #{$prop}: $val;
    }
  } @else {
    @error "Cannot find typography rule `#{$modifier}` in `#{$name}`";
  }
}
